    .index{background-color: beige;
        border: 1px solid #eee;
        border-radius: 10px;
        margin-bottom: 50px;
        padding: 15px;}
    
    .col-md-2{margin-left:10px;}
    
    background-color: red;
    border: 1px solid #eee;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 15px;

body {
    background-color: beige;

}

.navbar-inverse .navbar-nav>li>a {
	color: black;
	font-family: "garamond";
	font-size: 25px;
}

.column1 {
height: 35em;
margin-bottom: 2em;
background-repeat: no-repeat;
}

.column2 {
height: 35em;
margin-bottom: 2em;
background-repeat: no-repeat;
}
.column3 {
height: 35em;
margin-bottom: 2em;
background-repeat: no-repeat;
}
		
.column1, .column2, .column3 {
width: 31.3%;
float: left;
margin: 2%;
}
